<div class="sidebar">
    <ul>
        <li><a asp-area="" asp-controller="Admin" asp-action="Index"><span class="icon">🏠</span><span class="text">DASHBOARD</span></a></li>
        <li><a asp-area="" asp-controller="ManageCollection" asp-action="Create"><span class="icon">📂</span><span class="text">ADD COLLECTION</span></a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="CustomerBooking"><span class="icon">📋</span><span class="text">CUSTOMER BOOKING</span></a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="RegisteredUsers"><span class="icon">📝</span><span class="text">USER REGISTRATION</span></a></li>
        <li><a asp-area="" asp-controller="Managecollection" asp-action="Index"><span class="icon">⚙️</span><span class="text">MANAGE COLLECTION</span></a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="Payment"><span class="icon">💳</span><span class="text">PAYMENT HISTORY</span></a></li>
    </ul>
</div>
