<div class="sidebar">
    <ul>
        <li><a href="#">DASHBOARD</a></li>
        <li><a href="#">ADD COLLECTION</a></li>
        <li><a href="#">CUSTOMER BOOKING</a></li>
        <li><a href="@Url.Action("RegisteredUsers", "Admin")">USER REGISTRATION</a></li>
        <li><a href="#">MANAGE COLLECTION</a></li>
        <li><a href="#">PAYMENT HISTORY</a></li>
    </ul>
</div>
